<h1>Edit Post</h1>
<%= form_for :post, url: post_path(@post), method: :patch, html: { multipart: true } do |f| %>

	<% if @post.errors.any? %>
		<% @post.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger"><%= msg %></div>
		<% end %>
	<% end %>

	<p>
		<%= f.label :image %><br>
		<%= f.file_field(:image, {:class => 'form-control'}) %>
	</p>

	<p>
		<%= f.label :description %><br>
		<%= f.text_field(:description, {:class => 'form-control'}) %>
	</p>

	<p>
		<%= f.submit({:class => 'btn btn-primary'}) %>
	</p>

<% end %>